# Database
DB_USER=admin
DB_PASSWORD=password
DB_NAME=seminar_management_platform
DATABASE_URL="postgresql://admin:password@localhost:5433/seminar_management_platform?schema=public"

# Next.js Auth
NEXTAUTH_SECRET=zd+fMc09iqZSyTEoGuQl//h1g5BJdOMrY2sudb4Yato=
NEXTAUTH_URL=http://localhost:3000

# Email (Mailhog)
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_FROM=noreply@seminar-management-platform.com

# Pour le développement local
USE_IN_MEMORY_DB=false  

# AI API
OPENAI_API_KEY=votre_clé_api_openai

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
