
DB_USER=admin
DB_PASSWORD=password
DB_NAME=seminar_management_platform
DATABASE_URL=postgresql://admin:password@localhost:5433/seminar_management_platform?schema=public

NEXTAUTH_SECRET=generer_une_cle_aleatoire_ici
NEXTAUTH_URL=http://localhost:3000

EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_FROM=noreply@seminar-management-platform.com

# AI API (optionnel pour commencer)
OPENAI_API_KEY=votre_clé_api_openai

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000